@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Roboto", sans-serif;
}
body {
	height: 100%;
	width: 100%;
	background-image: linear-gradient(130deg, #1abc9c, #2ecc71);
	display: flex;
	justify-content: center;
	align-items: center;
}
form.container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
h2 {
	margin: 20px;
	color: cornsilk;
	font-weight: 300;
}
input {
	border: none;
	height: 50px;
	width: 250px;
	margin: 10px 0;
	padding: 0 10px;
	font-size: 1rem;
	outline: none;
	text-align: center;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
}
.textbook {
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.4);
}
.textbook::placeholder {
	color: #fff;
}
.textbook:hover,
.textbook:focus {
	background: #fff;
	width: 350px;
	color: #1abc9c;
}
.btn-submit {
	background: #fff;
	color: #1abc9c;
}
.btn-submit:hover {
	color: #fff;
	background: #1abc9c;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
